<div class="container mb-5">
  <div class="container">
    <div class="card card-block shadow-style">
      <div class="card-header">
        <h5 class="card-title"><a style="color: black;" href="<%= users_post_path(post) %>"><%= post.title %></a><span style="float: right;"><%= post_actions(post.user_id,post) %><%= publish_post(post)%></span></h5>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <a href="<%= users_post_path(post) %>"><img class="img img-fluid article-img img-class-style" src="<%= post.post_image %>"></a>
        </div>
        <div class="col-md-6 px-3">
          <div class="card-block px-3">
            <p><%= post.created_at.strftime("%d de %b, %Y ") %></p>
            <p class="card-text">Universidad <%= post.name.html_safe %></p>
	    <p class="card-text" style="text-align: justify"><%= sanitize post.body[0..240].capitalize, tags: %w(strong em a p b), attributes: %w(href) %>.[…]</p>
            <footer class="text-muted">
              <a class="text-muted" href="<%= users_post_path(post) %>">Continuar leyendo...</a></footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
