<%= form_with(model: carrera, local: true) do |form| %>
  <% if carrera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrera.errors.count, "error") %> prohibited this carrera from being saved:</h2>

      <ul>
      <% carrera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="field form-group">
    <%= form.label :departamento, "Departamento" %>
    <%= form.collection_select :id_departamento, Departamento.all, :id, :nombre , {include_blank: 'Selecciona '}, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :carrera_nombre, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :carrera_descripcion, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :carrera_codigo, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= form.submit "Guardar", class: 'btn btn-primary btn-md'%>
  </div>  
</form>

<% end %>


