<%= form_with(model: universidad, local: true) do |form| %>
  <% if universidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(universidad.errors.count, "error") %> prohibited this universidad from being saved:</h2>

      <ul>
      <% universidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :universidad_nombre %>
  </div>

  <div class="form-group">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :universidad_direccion %>
  </div>

  <div class="form-group">
    <%= form.label :numDireccion %>
    <%= form.number_field :numDireccion, id: :universidad_numDireccion %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :universidad_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
