<div class="container">
  <div class="form-group">
    <%= form_with(model: universidad, local: true) do |form| %>
        <% if universidad.errors.any? %>
          <div class="alert alert-danger">
            <h4 class="alert-heading">Oh no!</h4>
            <p>Ha ocurrido un error</p>  
          </div>
        <%end%>

      <div class="field form-group">
        <%= form.label :nombre, "Nombre de la Universidad:" %>
        <%= form.text_field :nombre, id: :universidad_nombre, class: 'form-control' %>
        <% if universidad.errors.any? %>
          <span class="badge badge-pill badge-danger">
            <%= @universidad.errors[:nombre].first %>
          </span>
        <%end%>
      </div>

      <div class="field form-group">
        <%= form.label :direccion, "Dirección:" %>
        <div class="field form-inline">
          <div class="w-75">
            <%= form.text_field :direccion, id: :universidad_direccion, size: '90',class: 'form-control'%>
            <% if universidad.errors.any? %>
              <span class="badge badge-pill badge-danger">
                <%= @universidad.errors[:direccion].first %>
              </span>
            <%end%>
          </div>
          <%= form.label :numDireccion, "#" %>
          <%= form.number_field :numDireccion, id: :universidad_numDireccion, class: 'form-control' %>
          <% if universidad.errors.any? %>
            <span class="badge badge-pill badge-danger">
              <%= @universidad.errors[:numDireccion].first %>
            </span>
          <%end%>
        </div>
      </div>

      <div class="field form-group">
        <%= form.label :descripcion, "Descripción de la Universidad:" %>
        <%= form.text_area :descripcion, id: :universidad_descripcion, rows: 10, class: 'form-control' %>
        <% if universidad.errors.any? %>
          <span class="badge badge-pill badge-danger">
            <%= @universidad.errors[:descripcion].first %>
          </span>
        <%end%>
      </div>

      <div class="actions form-group">
        <%= form.submit "Guardar", class: 'btn btn-primary btn-lg' %>
      </div>
      </div>
    <% end %>
  </div>
</div>
