<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Nombre:</strong>
	  <%= @universidad.nombre %>
	</p>

	<p>
	  <strong>Dirección:</strong>
	  <%= @universidad.direccion %>
	</p>

	<p>
	  <strong>Número:</strong>
	  <%= @universidad.numDireccion %>
	</p>

	<p>
	  <strong>Descripción:</strong>
	  <%= @universidad.descripcion %>
	</p>

	<%= link_to 'Editar', edit_universidad_path(@universidad) %> |
	<%= link_to 'Atrás', universidads_path %>		
</div>

