<div class="container">
  <div class="form-group">
  <%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :universidad_id %>
    <%= form.select :universidad_id, Universidad.all.collect { |p| [ p.nombre, p.id ] }, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :usuario, "Usuario: " %>
    <%= current_user.nombre %>
  </div>  

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :post_titulo, class: 'form-control' %><br>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :post_descripcion, class: 'form-control' %>
    <% if post.errors.any? %>
      <span class="badge badge-pill badge-danger">
        <%= @post.errors[:descripcion].first %>
      </span>
    <%end%>
    <br>
  </div>

  
  <div class="field">
    <%= form.label :imagen %><br>
    <%= form.file_field :image, id: :post_image %>
  </div>
  <br>  
  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>

