<div class="container">
  <div class="form-group">
  <%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading">Oh no!</h4>
        <p>Ha ocurrido un error</p>  
      </div>
    <%end%>


  <div class="field">
    <%= form.label :user_id %><br>
    <%= form.select :user_id, User.all.collect { |p| [ p.nombre] }, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :post_titulo, class: 'form-control' %><br>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :post_descripcion, class: 'form-control' %>
    <% if post.errors.any? %>
      <span class="badge badge-pill badge-danger">
        <%= @post.errors[:descripcion].first %>
      </span>
    <%end%>
    <br>
  </div>

  
  <div class="field">
    <%= form.label :foto %><br>
    <%= form.file_field :image, id: :post_image %>
  </div>
  <br>  
  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>

