<div class="jumbotron rounded", style="background-image: url('/assets/fcs_00.jpg')"">
        <h1 class="text-warning">Bienvenidos a Goodness</h1>
        <p class="text-danger font-weight-bold">Proyecto de almacenamiento de imagenes donde encontraras toda clase de informacion acerca de distintas asignaturas, cursadas en diferentes universidades del pais; esta plataforma tiene como finalidad ayudar aquellos que busquen informacion captada por estudiantes universitarios, este software es desarrollado por alumnos de la universidad tecnologica metropolitana de Chile </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-4 ">
        <figure class="figure ">
            <%= image_tag post.image.thumb.url, class: 'rounded'%>
          <figcaption class="figure-caption"><%= post.descripcion %><br>
          <%= link_to 'Show', post %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Estas seguro?' } %><br>
          <%= link_to "Descargar" , post.image.url, download: post.image.store_dir %><br><br>
          </figcaption>
        </figure>
      </div>  
    <% end %>
    <br><br>
  </div>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary btn-lg'  %>  
</div>

