<div id="university-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title right"><%= title %></h4>
            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">Close</span>
            </button>
        </div>
        <div class="container-col-md-5 modal-style mt-3 ml-3 mr-3 mb-3">
          <%= form_for(@university, remote: true , html: { class:"webkit-center", role: "form" }) do |f| %>
            <div class="alert alert-danger" role="alert" style="display: none;"></div>
              <div class="form-group">
                <%= f.label :nombre_universidad %><br />
                <%= f.text_field :name, class:'form-control', required: true %>
              </div>
        
              <div class="form-group">
                <%= f.label :descripcion_universidad %><br />
                <%= f.text_area :descripcion, class:'form-control', required: true %>
              </div>
              
              <div class="form-group">
              <%= image_tag (@university.image_url), class: 'card-img-top card-padding img-thumbnail', alt: 'Card image cap' if @university.image? %>
              </div>
              
              <div class="form-group">
                <%= f.label :imagen_universidad %><br />
                <%= f.file_field :image, class:'form-control' %>
              </div>
              <hr>
              <div class="col-md-12">
                <h5>Agregar Carreras :</h5>
                <div>
                  <%= f.fields_for :majors  do |major_form| %>
                  <%= render 'major_fields', f: major_form %>
                  <% end %>
                  <%= link_to_add_association 'Add Carrera', f, :majors , :class => 'btn btn-sm btn-primary mb-2'%>
                </div>
                <hr>
                <div class="form-group webkit-center">
                  <div class="actions col-md-4">
                    <%= f.submit class: "btn btn-sm btn-success" %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
  </div>
</div>