<div class="container mt-3" id="del_university_<%= university.id %>" style="width: 18rem;">
    <div class="card card-block shadow-style">
      <div class="card-header">
        <h5 class="card-title"><%= university.name.capitalize %></h5>
      </div>
      <%= image_tag university.image, class: 'card-img-top card-padding img-thumbnail', alt: 'Card image cap' %>
      <div class="card-body">
          <p><%= university.descripcion[0..30].capitalize%>...</p>
        <% unless university.majors.to_a.empty? %>
          <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapseMajor_<%= university.id %>" aria-expanded="false" aria-controls="collapseMajor">
            Mostrar Carreras
          </button>
        <%end%>
          <hr>
          <div class="collapse" id="collapseMajor_<%= university.id %>">
            <% university.majors.each do |x| %>
              <ul class="list-group ml-1 mb-1">
                <li class="list-group-item">
                    <%= x.nombre %>
                  <hr>
                  <%= link_to 'Ver mas detalles', university_major_path(university.slug, x.id)  , class: "btn btn-sm btn-secondary mt-2" %>
                </li>
              </ul>
            <%end%>
          </div>
            <%= link_to 'Ver Universidad', university , class: "btn btn-sm btn-info mt-2", remote: true, "data-toggle" => "modal-university", "data-target" => "my-modal" %>
            <%= admin_university_actions(university) %>
      </div>
  </div>
</div>
    
  


